.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}
.flexvertical{
    display: flex;
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.bg-buy{
    background-color: rgb(217, 208, 40);
}

.font-bold{
    font-weight: bolder;
}

.marginleftsec1{
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}

.marginleftsec11{
    margin-left: 20%;
    margin-right: 40%;
}



.h1sec1{
    font-size: 400%;
    color: aqua;
}
.h3sec1{
    font-size: 200%;
    color: aquamarine;
}
.psec1{
    font-size: 120%;
    color:aquamarine
}
.sec2left{
    width: 33%;
}
.text-box{
    margin-left: 10%;
    margin-right: 30%;
    margin-top: 0.4%;
    margin-bottom: 0.2%;
}
.text-box h1{
    font-size: 250%;
    font-weight: bolder;
    color: rgb(46, 111, 136);
    margin-bottom: 1.3%;
}
.text-box h3{
    font-size: 150%;
    font-weight: bold;
    color: rgb(46, 111, 136);
    margin-bottom: 0.7%;
}
.text-box p{
    font-size: 90%;
    font-weight: bold;
    font-style: italic;
    color: rgb(46, 111, 136);
}

.text-center{
    text-align: center;
}
